ul.flags {
    width:100%;
    text-align:center;
    background-color: #eef5f9;
    background-image: url("./images/gradient.gif");
	list-style-type: none;
}

ul.flags li {
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
	padding-bottom:2px;
	width: 6%;
}

ul.flags li.flagslist {
    float: left;
	padding-bottom:2px;
	width: 6%;
}

div.flags {
    background-color: #eef5f9;
   background-image: url("./images/gradient.gif");
}

#flagusers img {
	vertical-align: middle;
}

.flagusers {
    font-size: 1.2em;
    line-height: 2.2em;
    padding: 4px 0;
}
