<!-- INCLUDE overall_header.html -->
<div class="forabg">
	<div class="inner" id="flagusers">
		<ul class="topiclist">
			<li class="header">
				<dl class="<!-- IF PHPBB_IS_32 -->row-item<!-- ELSE -->icon<!-- ENDIF -->">
					<dt>
							{L_FLAGS}
					</dt>
					<dd></dd>
				</dl>
			</li>
		</ul>
		<ul class="forums flags">
		<!-- BEGIN flag -->
			<li class="flagslist">
				<a href="{flag.U_FLAG}">{flag.FLAG}</a><br>{flag.FLAG_USER_COUNT}
			</li>
		<!-- END flag -->
		</ul>
	</div>
</div>
<!-- INCLUDE overall_footer.html -->
