{% INCLUDE 'overall_header.html' %}

<h2 class="solo" id="flagusers">{{ FLAG_IMAGE }} {{ FLAG }}</h2>
		{% if S_FLAG_USERS %}
		<div class="action-bar">
			<div class="pagination">
				{{ TOTAL_USERS }}
				{% if loops.pagination|length %}
					{% INCLUDE 'pagination.html' %}
				{% else %}
					&bull; {{ PAGE_NUMBER }}
				{% endif %}
			</div>
		</div>

		<div class="forabg">
			<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="row-item">
						<dt>{{ lang('USERNAME') }}</dt>
						<dd class="topics">{{ lang('POSTS') }}</dd>
						<dd class="lastpost"><span>{{ lang('JOINED') }}</span></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist topics">
			{% for user_row in loops.user_row %}
				<li class="row {% if user_row.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
					<dl>
						<dt class="flag_inner">
							{% if user_row.USER_AVATAR %}{{ user_row.USER_AVATAR }}{% endif %} {{ user_row.USERNAME_FULL }}
						</dt>
						<dd class="topics">
							{% if user_row.POSTS and S_DISPLAY_SEARCH %}<a href="{{ user_row.U_SEARCH_USER }}" title="{{ lang('SEARCH_USER_POSTS') }}">{{ user_row.POSTS }}</a>{% else %}{{ user_row.POSTS }}{% endif %}
						</dd>
						<dd class="lastpost">
							<span style="margin-top:5px;font-size: 1.2em;">{{ user_row.JOINED }}</span>
						</dd>
					</dl>
				</li>
			{% endfor %}
			</ul>
			</div>
		</div>

		<div class="action-bar">
			<div class="pagination">
				{{ TOTAL_USERS }}
				{% if loops.pagination|length %}
					{% INCLUDE 'pagination.html' %}
				{% else %}
					 &bull; {{ PAGE_NUMBER }}
				{% endif %}
			</div>
		</div>
	{% else %}
	<div class="panel" id="message">
		<div class="inner">
			<h2 class="message-title">{{ lang('INFORMATION') }}</h2>
			<p>{{ MESSAGE_TEXT }}</p>
		</div>
	</div>
	{% endif %}
{% INCLUDE 'overall_footer.html' %}
