<a class="category{% if S_NATIONALFLAGS_HIDDEN %} hidden-category{% endif %}" style="display: none; height: 0"></a>
<div class="forabg" id="flags">
	<div class="inner">
	<ul class="topiclist">
		<li class="header">
			<dl class="{% if PHPBB_IS_32 %}row-item{% else %}icon{% endif %}">
				<dt>{% if U_FLAGS %}<a href="{{ U_FLAGS }}">{% endif %}{{ lang('NATIONAL_FLAGS') }}{% if U_FLAGS %}</a>{% endif %}</dt>
				<dd></dd>
			</dl>
			{% if U_NATIONALFLAGS_COLLAPSE_URL %}<a href="{{ U_NATIONALFLAGS_COLLAPSE_URL }}" class="collapse-btn collapse-{% if S_NATIONALFLAGS_HIDDEN %}show{% else %}hide{% endif %}" data-hidden="{{ S_NATIONALFLAGS_HIDDEN }}" data-ajax="phpbb_collapse" data-overlay="true" title="{{ lang('COLLAPSIBLE_CATEGORIES_TITLE') }}" style="display: none; line-height: 0;"></a>{% endif %}
		</li>
	</ul>
	<ul class="forums flags collapsible">
	{% for flag in loops.flag %}
		<li class="flags_bg flagslist">
			<a href="{{ flag.U_FLAG }}">{{ flag.FLAG }}</a><br>{{ flag.FLAG_USERS }}
		</li>
	{% endfor %}
	</ul>
	</div>
</div>
