<a class="category{% if S_NATIONALFLAGS_HIDDEN %} hidden-category{% endif %}" style="display: none; height: 0"></a>
<div class="forabg" id="flags">
	<div class="inner">
	<ul class="topiclist">
		<li class="header">
			<dl class="row-item">
				<dt>{% if U_FLAGS %}<a href="{{ U_FLAGS }}">{% endif %}{{ lang('NATIONAL_FLAGS') }}{% if U_FLAGS %}</a>{% endif %}</dt>
				<dd></dd>
			</dl>
			{% set S_CC_FORUM_HIDDEN = S_NATIONALFLAGS_HIDDEN %}
			{% set U_CC_COLLAPSE_URL = U_NATIONALFLAGS_COLLAPSE_URL %}
			{% include '@phpbb_collapsiblecategories/collapsible_categories_button.html' ignore missing %}
		</li>
	</ul>
	<ul class="forums flags collapsible">
	{% for flag in loops.flag %}
		<li class="flags_bg flagslist">
			<a href="{{ flag.U_FLAG }}">{{ flag.FLAG }}</a><br>{{ flag.FLAG_USERS }}
		</li>
	{% endfor %}
	</ul>
	</div>
</div>
