<div class="forabg responsive-hide" id="flags">
	<div class="inner">
	<ul class="topiclist">
		<li class="header">
			<dl>
				<dt><div class="list-inner"><!-- IF U_FLAGS --><a href="{U_FLAGS}"><!-- ENDIF -->{L_NATIONAL_FLAGS}<!-- IF U_FLAGS --></a><!-- ENDIF --></div></dt>
				<dd></dd>
			</dl>
		</li>
	</ul>
	<ul class="flags forums">
	<!-- BEGIN flag -->
		<li class="bg1 flagslist">
			<a href="{flag.U_FLAG}">{flag.FLAG}</a><br />{flag.FLAG_USERS}
		</li>
	<!-- END flag -->
	</ul>
	</div>
</div>
